/* Special Elite Regular Font Style */
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* DM Sans Medium Font Style */
.dm-sans-medium {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Global Styles */
* {
    font-family: "DM Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./images/wall.png');
}

/* Container Styles */
.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px #1F1E1E;
}

/* Form Styles */
form {
    margin: 0 2rem;
}

/* Form Title Styles */
.form-title {
    font-family: "Special Elite";
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.5rem;
}

/* Input Styles */
input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}

/* Input Group Styles */
.input-group {
    padding: 1% 0;
    position: relative;
}

.input-group i {
    position: absolute;
    color: #1F1E1E;
}

/* Input Focus Styles */
input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
}

/* Placeholder Styles */
input::placeholder {
    color: transparent;
}

/* Label Styles */
label {
    color: #757575;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}

/* Label Focus and Placeholder Styles */
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -3em;
    color: hsl(327, 90%, 28%);
    font-size: 15px;
}

/* Button Styles */
.btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: #C52D24;
    color: white;
    cursor: pointer;
    transition: 0.9s;
}

.btn a {
    text-decoration: none;
    color: white;
}

/* Button Hover Styles */
.btn:hover {
    background: radial-gradient(circle, #C52D24, #1F1E1E);
}

/* Google Button Styles */
.g-btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    text-align: center;
    width: auto;
    border: solid #C52D24 0.2vw;
    cursor: pointer;
    transition: 0.9s;
}

.g-btn a {
    text-decoration: none;
    color: #C52D24;
}

/* Google Button Hover Styles */
.g-btn:hover {
    background: radial-gradient(circle, #1F1E1E, #C52D24);
}

.g-btn:hover a {
    color: #FFFBF2;
}

/* Additional Style Class */
.style {
    color: white;
    border: 1px solid #1F1E1E;
}

/* OR Text Styles */
.or {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}

/* Icon Styles */
.icons {
    text-align: center;
}

.icons i {
    color: #C52D24;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
}

.icons i:hover {
    background: #1F1E1E;
    font-size: 1.6rem;
    border: 2px solid #C52D24;
}

/* Links Styles */
.links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}

/* Button Styles */
button {
    color: #C52D24;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    text-decoration: underline;
    color: blue;
}

/* Anchor Tag Styles */
a {
    cursor: pointer;
}
